.container {
  width: 100%;
  max-width: 120rem;
  display: flex;
  margin: 1em 2em;
}

.form-section {
  width: 40%;
  padding: 2em;
  overflow-y: auto;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #ffffff;
  border-radius: 20px;
}

.resume-section {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .form-section {
    max-height: none;
  }

  .resume-section {
    margin-top: 2em;
  }

  .form-section, .resume-section {
    width: 100%;
  }
}