.resume-wrapper {
    padding: 3em;
    margin: 0 auto;
    margin-top: 2em;
    aspect-ratio: 5 / 7;
    max-height: 90vh;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
    font-size: 1.5vmin;
    background-color: #ffffff;
}

.resume-document {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #ffffff;
}

.contact-details {
    display: flex;
    gap: 1.5em;
}

.education-entry, .experience-header {
    display: flex;
    justify-content: space-between;
}

.education-entry:not(:first-of-type), .experience-entry:not(:first-of-type) {
    margin-top: 1.5em;
}

.experience-header {
    margin-bottom: 1em;
}

.education-right, .experience-right {
    text-align: end;
}

ul {
    padding-left: 2em;
}

h3 {
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
    border-bottom: solid 0.2em black;
}

.contact-details, .experience-details {
    font-size: 90%;
}

.skills {
    margin-bottom: 2em;
}