.container {
  width: 100%;
  max-width: 120rem;
  display: flex;
  margin: 1em 2em;
}

.form-section {
  width: 40%;
  padding: 2em;
  overflow-y: auto;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.resume-section {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  } 

  .form-section, .resume-section {
    width: 100%;
  } 
}